<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<!-- <img class='menu' src="/static/menu.png" alt="" srcset=""> -->
<!-- 
<div class="men">
    <svg class='logo-home' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 484.131 175">
        <g id="Group_11" data-name="Group 11" transform="translate(-1205 -265)">
            <g id="Group_7" data-name="Group 7" transform="translate(1205 265)">
                <g id="Group_6" data-name="Group 6">
                    <text id="SiKiZa" transform="translate(0 142)" font-size="132" font-family="SegoeUI-Bold, Segoe UI"
                        font-weight="700">
                        <tspan x="0" y="0">SiKiZa</tspan>
                    </text>
                    <g id="Group_4" data-name="Group 4" transform="translate(392.816 60.464)">
                        <ellipse id="Ellipse_1" data-name="Ellipse 1" cx="21" cy="22" rx="21" ry="22"
                            transform="translate(0.184 42.536)" />
                        <rect id="Rectangle_4" data-name="Rectangle 4" width="10.667" height="18.496" rx="5.333"
                            transform="matrix(0.799, -0.602, 0.602, 0.799, 34.146, 42.299)" />
                        <rect id="Rectangle_5" data-name="Rectangle 5" width="10.667" height="37.141" rx="5.333"
                            transform="matrix(0.799, -0.602, 0.602, 0.799, 41.581, 25.758)" />
                        <rect id="Rectangle_7" data-name="Rectangle 7" width="10.667" height="58.666" rx="5.333"
                            transform="matrix(0.799, -0.602, 0.602, 0.799, 47.49, 6.419)" />
                    </g>
                </g>
            </g>
        </g>
    </svg> -->


</div>





<div class="pane-3">

<img class='menu' id='menu' src="/static/menu2.png" alt="" srcset="">

    <div class="menulist">
        <ul>
            <li><a href="#">Languages</a></li>
            <li><a href="#">Who can use</a></li>
        </ul>
    </div>
    <div id="label-container"></div>
</div>


<div class="notice">Click on the video button to start</div>



<div id="webcam-container">

<div class="say">
    <center>
        <img class='ii-img' src="/static/ii.png" alt="">
    </center>
    <div class="iisay">
        click on the video button and
        make an action to your computer
    </div>
</div>
    
<div id="play">
    <i id='playicon' class="material-icons">videocam</i>
</div>
<div id="pause">
    <i id='pause_arrow' class="material-icons">stop_arrow</i>
</div>

</div>

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8/dist/teachablemachine-image.min.js"></script>
<script src="{{ url_for('static',filename='camera.js') }}""></script>